[submodule "toolchain"]
	path = toolchain
	url = https://github.com/DaelonSuzuka/XC8-Toolchain.git
[submodule "src/peripherals"]
	path = src/peripherals
	url = https://github.com/DaelonSuzuka/K42-Peripheral-Libraries
[submodule "src/os"]
	path = src/os
	url = https://github.com/DaelonSuzuka/K42-System-Libraries
